# Databases
universe.db

# Models
**.glb
**/assets/generated_textures/

# Python Cache Directories
**/__pycache__/
.cache_reset_on_next_start
test.py

# IDE/Tool Configurations
.vscode/
.continue/
.venv